# Common binaries
*.d
*.o
*.out

# cscope ctags
cscope.*
tags

# generated binaries
vpmu-control-arm
vpmu-control-x86
vpmu-control-dry-run
vpmu-perf-arm
vpmu-perf-x86
vpmu-perf-dry-run

# Linux headers
*.ko
*.cmd
.tmp_versions
*.mod.c
*.symvers
*.order

# Files for user to modify
path.mak

